body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: url("../assets/img/bg.gif") center center fixed;
  background-size: cover;
  overflow: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

#login-container,
#signup-container {
  display: flex;
  flex-direction: column;
  background-color: var(--brown);
  color: var(--lightBeige);
  padding: 60px 160px;
  border-radius: 25px;
  gap: 20px;
  min-width: 800px;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

/* Buttons */

button {
  margin-top: 40px;
}

/* Inputs */

.input-container label {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input-container:focus-within label {
  opacity: 1;
}

.input-container {
  position: relative;
}

input::placeholder {
  color: var(--beige);
}

input:focus::placeholder {
  color: transparent;
}

input {
  padding-right: 30px;
}

.input-container i {
  position: absolute;
  bottom: 10%;
  right: 10px;
  transform: translateY(-50%);
}

a {
  color: var(--lightBeige);
}
